@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-workshop-950 text-workshop-100;
  }
  ::selection {
    @apply bg-accent/30 text-workshop-50;
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
}
